# Python
__pycache__/
*.py[cod]
.venv/
venv/
db.sqlite3
staticfiles/

# JavaScript
node_modules/
dist/
npm-debug.log*
.npm-cache/
.pydeps/

# Environment
.env
.env.local

# OS/editor
.DS_Store
Thumbs.db
.vscode/
